<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/mobile.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap"
    rel="stylesheet">
  <title>Personal Portfolio</title>
</head>

<body>
  <div class="container">
    <nav class="sidebar sidebargo">
      <div class="tag">Portfolio</div>
      <div class="list">
        <li><a href="index">Home </a></li>
        <li><a href="services">Services </a></li>
        <li><a href="MyCV">My CV </a></li>
        <li><a href="Blog">Blog </a></li>
        <li><a href="#">Contact Me</a></li>
      </div>
    </nav>

    <div class="main">
      <div class="hamburger">
        <img class="ham" src="/static/image/Hamburger_icon.svg.png" alt="" width="23">
        <img class="cross" src="/static/image/cross.jpg" alt="" width="23">
      </div>
      <div>
        <div class="container">
          <div class="contactform">
            <h1>Contact Me for Enquairy And Work</h1>
            <form method="post" action="/contact">
              {% csrf_token %}
              <div class="mb-3">
                <label for="name"  class="form-label">Full name</label>
                <input type="name" name="name" class="form-control" id="name">
              </div>
              <div class="mb-3">
                <label for="phone"  class="form-label">phone</label>
                <input type="phone" name="phone" class="form-control" id="phone">
              </div>
              <div class="mb-3">
                <label for="email"  class="form-label">Email address </label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email & phone with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="desc"  class="form-label">Enquairy</label>
                <input type="desc" name="desc" class="form-control" id="desc">
              </div>
              <button type="submit" class="btn-primary">Submit</button>
            </form>
          </div>


        </div>
      </div>
    </div>
    <script src="/static/script.js"></script>
</body>

</html>