<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mobile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <title>Personal Portfolio</title>
</head>

<body>
    <div class="container">
        <nav class="sidebar sidebargo">
            <div class="tag">Portfolio</div>
            <div class="list">
                <li><a href="#">Home </a></li>
                <li><a href="services">Services </a></li>
                <li><a href="MyCV">My CV </a></li>
                <li><a href="Blog">Blog </a></li>
                <li><a href="contact">Contact Me</a></li>
            </div>
        </nav>

        <div class="main">
            <div class="hamburger">
                <img class="ham" src="/static/image/Hamburger_icon.svg.png" alt="" width="23" >
                <img class="cross" src="/static/image/cross.jpg" alt="" width="23">
            </div>
            <div class="infocontainer">
                <div class="devinfo">
                    <div class="hello"> Hello I Am </div>
                    <div class="name">Vikas kohli</div>
                    <div class="about">Python django ,backend devloper </div>
                    <div class="moreabout">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, reiciendis.
                        Tenetur m</div>
                    <div class="buttons">
                        <button>download CV </button>
                        <button>Know More</button>
                    </div>
                </div>
                <div class="devPic"><img src="/static/image/dev.jpg" alt=""></div>

            </div>
        </div>
    </div>
<script src="/static/script.js"></script>
</body>
</html>