<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/mobile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap"
        rel="stylesheet">
    <title>Personal Portfolio</title>
</head>

<body>
    <div class="container">
        <nav class="sidebar sidebargo">
            <div class="tag">Portfolio</div>
            <div class="list">
                <li><a href="index">Home </a></li>
                <li><a href="services">Services </a></li>
                <li><a href="#">My CV </a></li>
                <li><a href="Blog">Blog </a></li>
                <li><a href="contact">Contact Me</a></li>
            </div>
        </nav>

        <div class="main">
            <div class="hamburger">
                <img class="ham" src="/static/image/Hamburger_icon.svg.png" alt="" width="23" >
                <img class="cross" src="/static/image/cross.jpg" alt="" width="23">
            </div>
            <div class="mycv">
                <h2>About Me</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ullam vitae, quisquam
                     veniam quibusdam accusamus ratione animi molestiae omnis repudiandae fugiat velit autem 
                     commodi tempora perferendis. Repellat, soluta? Molestiae explicabo iusto, odio magni
                      beatae natus laboriosam corrupti quasi hic, aperiam perspiciatis voluptatem? Eligendi
                       enim et quae voluptatibus ea itaque reiciendis?</p>

                <h2>My Skills</h2>
                <div class="skillcontainer">
                    <div class="skillitem">HTML :<div class="skill hundred"></div></div>
                    <div class="skillitem">CSS  :<div class="skill seventy"></div></div>
                    <div class="skillitem">JAVASCRIPT  :<div class="skill fifty"></div></div>
                    <div class="skillitem">PYTHON :<div class="skill ninty "></div></div>
                    <div class="skillitem">DJANGO  :<div class="skill ninty"></div></div>
                    <div class="skillitem">REACTJS :<div class="skill seventy"></div></div>

                </div>
            </div>
        </div>
    </div>
<script src="/static/script.js"></script>
</body>

</html>